.VideoList {
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.thumbnail {
  height: 10rem !important;
  width: 17.5rem !important;
  /* border: 1px solid #ccc; */
}

.imagecontainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: white;
  background-color: #a32946;
}

.icon {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: 45%;
}

.imagecontainer:hover .overlay {
  opacity: 0.5;
}

.content {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.heading {
  font-size: 1.2rem;
  color: #fff;
}

.subheading {
  font-size: 1rem;
  color: #757575;
}

.description {
  font-size: 1rem;
  color: #757575;
}

.Link:hover {
  text-decoration: none;
}
