.section {
  background-color: #121212;
  min-height: 100vh;
  padding: 4rem;
}

.profileimage {
  height: 5rem !important;
  width: 5rem !important;
  margin-right: 1rem;
}

.userdetails {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.hr {
  margin-top: 1rem !important ;
  background-color: #303030;
}

.container {
  color: #fff;

  font-size: 1.2rem;
}

.img {
  border-radius: 5px;
  width: 8rem;
  height: 6rem;
  margin-right: 0.5rem;
}

.Link {
  color: #fff;
}

.Link:hover {
  text-decoration: none;
  color: #fff;
}

.uploadIcon {
  height: 2.4rem;
  margin-top: 1rem !important;
  margin-left: 65% !important;
}

.deleteicon {
  cursor: pointer;
}

.deleteicon:hover {
  color: #ccc;
}

.hover {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 3rem;
}

.hover:active {
  background-color: #474747;
}

.row {
  margin: 1rem;
}

@media (max-width: 426px) {
  .row {
    margin-right: 0 !important;
    padding-right: 0%;
  }
  .uploadIcon {
    margin-left: 30% !important;
  }
  .section {
    padding: 1rem;
    padding-top: 2rem;
  }
  .img {
    width: 4rem;
    height: 3rem;
    margin: 0%;
  }
}

@media (max-width: 321px) {
  .uploadIcon {
    margin-left: 25% !important;
  }
}
