.page {
  margin: 0%;
  background-color: #121212;
  width: 100%;
  margin-bottom: 0% !important;
}

body {
  background-color: #121212 !important;
}

.loginform {
  margin-top: 4%;
  background-color: #3a3a3a;
  color: #ffffff;
  border-radius: 10px;
  padding: 2rem 4rem;
  height: 70vh;
}

.signupform {
  margin-top: 2rem;
  background-color: #3a3a3a;
  color: #ffffff;
  border-radius: 10px;
  padding: 2rem 4rem;
}

.loginform input,
.signupform input {
  background-color: #959595;
  border: none;
  color: #ffffff;
}

.loginform input::placeholder,
.signupform input::placeholder {
  color: #ffffff;
}

.loginform input:focus,
.signupform input:focus {
  outline: none !important;
  border: 2px solid #f50057;
  box-shadow: none;
}

.heading {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

.button {
  width: 100%;
  background-color: #f50057;
  color: #ffffff;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: #ff6686;
  color: #ffffff;
}

.button:focus {
  box-shadow: none;
}

.link {
  text-decoration: none;
  color: #f50057;
}

.link:hover {
  color: #ffffff;
}

.error {
  color: #f50057;
}

@media (max-width: 426px) {
  .loginform {
    margin-top: 20%;
    height: 55vh;
  }

  .signupform {
    margin-top: 10%;
  }
}
