.container {
  background-color: #121212;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.profile {
  background-color: #181818;
  padding: 4rem 4rem 1rem 4rem;
}

.userdetails {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.profileimage {
  height: 5rem !important;
  width: 5rem !important;
  margin-right: 1rem;
}

.subscribe {
  height: 2.4rem;
  margin-top: 1rem !important;
  margin-left: 60% !important;
}

.forminput {
  background-color: #959595;
  border: none;
  color: #ffffff;
}

.forminput:focus {
  outline: none !important;
  border: 2px solid #f50057;
  box-shadow: none;
}

.myprofileimage {
  height: 8rem !important;
  width: 8rem !important;
  margin: auto;
}

.videos {
  font-size: 1.5rem;
  padding: 2rem 4rem;
}

.imagecontainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 8rem !important;
  width: 8rem !important;
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: white;
  background-color: #a32946;
}

.icon {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 38%;
  left: 38%;
  cursor: pointer;
}

.imagecontainer:hover .overlay {
  opacity: 0.5;
}

@media (max-width: 426px) {
  .subscribe {
    margin-left: 18% !important;
  }
  .profile {
    padding: 3rem 1rem;
  }
  .videos {
    padding: 2rem 2rem;
  }
}
