.Navbar {
  background-color: #1b1b1b;
}

.logo,
.sidelogo {
  color: #fff !important;
  margin-left: 1rem;
}

@media (min-width: 600px) {
  .sidelogo {
    display: none;
  }
}

.loginButton {
  background-color: #1b1b1b;
  color: #fff;
  border: 2px solid #fff;
  margin-right: 2rem;
  width: 6.5rem;
}

.signupButton {
  color: #fff;
  background-color: #f50057;
  border: 2px solid #f50057;
  margin-right: 2.5rem;
  width: 8rem;
}

.logoutbutton {
  color: #fff;
  background-color: #f50057;
  border: 2px solid #f50057;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 5rem;
}

.loginButton:hover,
.logoutbutton:hover,
.signupButton:hover,
.loginButton:active,
.signupButton:active,
.logoutbutton:active {
  color: #f50057;
  background-color: #fff;
  border: 2px solid #fff;
}

.Search {
  background-color: #565656;
  border-color: #565656;
}

.SearchIcon {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  color: #ffffff;
}
.SearchIcon:hover {
  color: #fff !important;
  background-color: #6a6a6a;
  border-color: 6a6a6a;
}
.InputGroup {
  margin-left: 10rem;
  width: 40rem !important;
  border-radius: 5px;
}

.Search:focus {
  box-shadow: none;
  border: none;
}

.sidebar {
  background-color: #1b1b1b !important;
  width: 14rem;
}

.hamburger {
  color: #fff;
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

.sidebarContent {
  color: #fff;
  margin-top: 2.3rem;
  padding-right: 1rem;
}

.sidelink {
  width: 10 rem;
  padding-left: 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 2.2rem;
  color: #c2c2c2;
  margin-top: 0.2rem;
  font-size: 1.1rem;
}

.activelink {
  background-color: #a32946;
  color: #fff;
  width: 10 rem;
  padding-left: 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 2.2rem;
  background-color: #a32946;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.sidelink:hover {
  text-decoration: none;
  background-color: #a32946;
  color: #ffffff;
}

.link,
.link:hover {
  text-decoration: none;
  color: #fff;
}

.sidebarlogo {
  color: #fff;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  margin-left: 30%;
}
